html,
body {
  height: 100%;
}

body {
  font-family: "", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
  color: $black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
