<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/style.min.css" rel="stylesheet">
</head>
<body>
  
          <!-- Табы -->
          <div class="tabs">
            <div class="tabs__head">
              <span class="tabs__toggle active">Первый</span>
              <span class="tabs__toggle">Второй</span>
              <span class="tabs__toggle">Третий</span>
            </div>

            <div class="tabs__body">
              <div class="tabs__content active">
                <h2 class="tabs__title">Заголовок 1</h2>
                <p class="tabs__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum unde cum iure esse sit repellat?</p>
              </div>
              <div class="tabs__content">
                <h2 class="tabs__title">Заголовок 2</h2>
                <p class="tabs__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum unde cum iure esse sit repellat?</p>
              </div>
              <div class="tabs__content">
                <h2 class="tabs__title">Заголовок 3</h2>
                <p class="tabs__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum unde cum iure esse sit repellat?</p>
              </div>
            </div>
          </div>
          <!-- Табы end -->


  <script src="js/main.min.js"></script>

</body>
</html>